<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">

        <title>Dashboard SISSO</title>
    </head>

    <body>

        <div class="wrapper">
            <!-- SIDEBAR MENU -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>AK Software</h3>
                </div>
    
                <ul class="list-unstyled components">
                    <li class="active">
                        <a href="#iniciacaoSubMenu" data-toggle="collapse" aria-expanded="false">Iniciação Cristã</a>
                        <ul class="collapse list-unstyled show" id="iniciacaoSubMenu">
                            <li><a href="christian_initiation.html">Realizar iniciação</a></li>
                            <li class="active"><a href="christian_table.html">Consultar iniciações</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
    
            <div id="content">
    
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-default navbar-btn">
                                <i class="fa fa-bars"></i>
                            </button>
                        </div>
                    </div>
                </nav>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col divContent">
                            <div class="table-responsive text-center">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Nome</th>
                                            <th scope="col">Sacramento</th>
                                            <th scope="col">Data Nascimento</th>
                                            <th scope="col">Certidão</th>
                                            <th scope="col">Imprimir</th>
                                            <th scope="col">Editar</th>
                                            <th scope="col">Excluir</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Kaique</th>
                                            <td>batismo, eucaristia, crisma</td>
                                            <td>07/06/2018</td>
                                            <td>123456789546348548-5452.454</td>
                                            <td><button class="btn btn-info btnTable"><i class="fas fa-print"></i></button></td>
                                            <td><button class="btn btn-primary btnTable"><i class="fas fa-user-edit"></i></button></td>
                                            <td><button class="btn btn-danger btnTable"><i class="fas fa-user-slash"></i></button></td>

                                        </tr>
                                        <tr>
                                            <th scope="row">Kaique</th>
                                            <td>batismo, eucaristia, crisma</td>
                                            <td>07/06/2018</td>
                                            <td>123456789546348548-5452.454</td>
                                            <td><button class="btn btn-info btnTable"><i class="fas fa-print"></i></button></td>
                                            <td><button class="btn btn-primary btnTable"><i class="fas fa-user-edit"></i></button></td>
                                            <td><button class="btn btn-danger btnTable"><i class="fas fa-user-slash"></i></button></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Kaique</th>
                                            <td>batismo, eucaristia, crisma</td>
                                            <td>07/06/2018</td>
                                            <td>123456789546348548-5452.454</td>
                                            <td><button class="btn btn-info btnTable"><i class="fas fa-print"></i></button></td>
                                            <td><button class="btn btn-primary btnTable"><i class="fas fa-user-edit"></i></button></td>
                                            <td><button class="btn btn-danger btnTable"><i class="fas fa-user-slash"></i></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
                <script>
                    $(document).ready(function () {
                        $("#sidebarCollapse").on("click", function () {
                            $("#sidebar").toggleClass("active");
                            $(this).toggleClass("active");
                        });
                    });

                </script>
    </body>

</html>