<!DOCTYPE html>
<html lang="en">

<head>
    <title>Iniciação Cristã</title>
    
    <!-- LINKS -->
    <% include ../include/header %>

    
</head>

<body>

    <div class="wrapper">
        <!-- SIDEBAR MENU -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>AK Software</h3>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#iniciacaoSubMenu" data-toggle="collapse" aria-expanded="false"><i class="fas fa-user-cog"></i>  Iniciação Cristã</a>
                    <ul class="collapse list-unstyled show" id="iniciacaoSubMenu">
                        <li class="active"><a href="/christian/initiation"><i class="fas fa-user-plus"></i>  Realizar iniciação</a></li>
                        <li><a href="/christian/table"><i class="fas fa-th-list"></i>  Consultar iniciações</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div id="content">

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-default navbar-btn">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                </div>
            </nav>

            <div class="container-fluid">
                <div class="row">
                    <div class="col divContent">
                        <form method="POST" action="/christian/create">
                            <div class="form-group">
                                <h1>Iniciação cristã</h1>
                                <p>Preencha todos os dados corretamente</p>
                                <hr>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6 col-lg-2 col-sm-6">
                                    <label for="nomeCompleto">Nome</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group input-group-seamless">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-user"></i>
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" id="nomeCompleto" placeholder="Nome Completo" name="nome">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-lg-2 col-sm-6">
                                    <label for="dataNascimento">Data de Nascimento</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group input-group-seamless">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-calendar-alt"></i>
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" id="dataNascimento" placeholder="Data de nascimento" name="dataNasc">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-lg-2 col-sm-6">
                                    <label for="certidaoNascimento">Certidão de Nascimento</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group input-group-seamless">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-certificate"></i>
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" id="certidaoNascimento" placeholder="Nº da Certidão" name="nCertidao">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-lg-2 col-sm-3">
                                    <label>Sexo</label>
                                    <div class="form-row">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="masculino" class="custom-control-input" name="sexo"
                                                value="masculino">
                                            <label class="custom-control-label" for="masculino">Masculino</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="feminino" class="custom-control-input" name="sexo"
                                                value="feminino">
                                            <label class="custom-control-label" for="feminino">Feminino</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-2">
                                    <label>Sacramento</label>
                                    <div class="form-row">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" id="batismo" class="custom-control-input" name="batismo"
                                                value="true">
                                            <label class="custom-control-label" for="batismo">Batismo</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" id="crisma" class="custom-control-input" name="crisma"
                                                value="true">
                                            <label class="custom-control-label" for="crisma">Crisma</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" id="eucaristia" class="custom-control-input" name="eucaristia"
                                                value="true">
                                            <label class="custom-control-label" for="eucaristia">Eucaristia</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-lg-2 col-sm-6">
                                    <label for="nomePai">Nome da Pai</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group input-group-seamless">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-user"></i>
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" id="nomePai" placeholder="Nome Completo" name="pai">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-lg-2 col-sm-6">
                                    <label for="nomeMae">Nome da Mãe</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group input-group-seamless">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-user"></i>
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" id="nomeMae" placeholder="Nome Completo" name="mae">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-lg-2 col-sm-6">
                                    <label for="avoPatMasc">Avô Paterno</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group input-group-seamless">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="icon-grandfather"></i>
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" id="avoPatMasc" placeholder="Nome Completo" name="avoPatMasc">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-lg-2 col-sm-6">
                                    <label for="avoPatFem">Avó Paterna</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group input-group-seamless">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="icon-grandmother"></i>
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" id="avoPatFem" placeholder="Nome Completo" name="avoPatFem">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-lg-2 col-sm-6">
                                    <label for="avoMatMasc">Avô Materno</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group input-group-seamless">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="icon-grandfather"></i>
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" id="avoMatMasc" placeholder="Nome Completo" name="avoMatMasc">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-lg-2 col-sm-6">
                                    <label for="avoMatFem">Avó Materna</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group input-group-seamless">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="icon-grandmother"></i>
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" id="avoMatFem" placeholder="Nome Completo" name="avoMatFem">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-lg-2 col-sm-6">
                                    <label for="nomePadrinho">Padrinho</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group input-group-seamless">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-user"></i>
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" id="nomePadrinho" placeholder="Nome Completo" name="padrinho">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-lg-2 col-sm-6">
                                    <label for="nomeMadrinha">Madrinha</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group input-group-seamless">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-user"></i>
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" id="nomeMadrinha" placeholder="Nome Completo" name="madrinha">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-lg-2 col-sm-6">
                                    <label for="nTelefone">Telefone</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group input-group-seamless">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-mobile-alt"></i>
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" id="nTelefone" placeholder="Nº Telefone" name="telefone">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-lg-2 col-sm-6">
                                    <label for="email">E-mail</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group input-group-seamless">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-at"></i>
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" id="email" placeholder="E-mail" name="email">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-lg-2 col-sm-6">
                                    <label for="rua">Rua</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group input-group-seamless">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-road"></i>
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" id="rua" placeholder="Rua" name="rua">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-lg-2 col-sm-6">
                                    <label for="bairro">Bairro</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group input-group-seamless">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-street-view"></i>
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" id="bairro" placeholder="Bairro" name="bairro">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-lg-2 col-sm-6">
                                    <label for="cidade">Cidade</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group input-group-seamless">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-at"></i>
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" id="cidade" placeholder="Cidade" name="cidade">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-lg-2 col-sm-6">
                                    <label for="cep">CEP</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group input-group-seamless">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-map-marker-alt"></i>
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" id="cep" placeholder="CEP" name="cep">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btnSave">Cadastrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
            <script src="/assets/script/script.js"></script>
</body>

</html>