<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Add essa merda no banco</h1>
        <form method="POST" action="/christian/create">
            <label>Título</label>
            <input type="text" name="titulo" placeholder="Título da notícia"/><br>
            <label>Notícia</label>
            <textarea name="noticia" rows="5" cols="30">

            </textarea><br>
            <input type="submit" value="Enviar" />
        </form>
    </body>
</html>