*{
	margin: 0;
	padding: 0;
}

body {
	background-image: url("https://media1.tenor.com/images/4e74a53c1291eb1ea9041f40006eeedb/tenor.gif?itemid=7543338");
	background-repeat: no-repeat;
	height: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
}









body{
   
}